.footer-copyright {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 20px 30px;
  }
  .contact-submit {
    font-size: 14px;
    padding: 14px 30px;
  }
  .footer-copyright {
    font-size: 13px;
  }
}
